*{
  font-family: "Rubik" , sans-serif;
  color: #393c41;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
  
  
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background:#393c41;
  border-radius: 5rem;
}

body{
  width: 100%;
  overflow-x: hidden;
  
}
a{
  text-decoration: none;
  
}


@keyframes animateDown {
  0%, 20%,50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}


